DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=queenchat_db

VITE_API_URL=http://localhost:8091
VITE_WS_URL=ws://localhost:3100

JWT_SECRET_KEY=yaPv7YAxFPKvrS5QfphiE5HmwRGLpjbQxsrSOQT1K8TilrRoRGD4xMTmRLHSJ12E09yXnlx6OXlGQsbcT2SzJiNPbOf0ZoxuNuQAPPEyfg4AUs6V1UNzONhaJ6ZFp84t